<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>가계부에 영수증, 구매 사진, 감성 사진 등을 앨범에서 선택하여 기록할 수 있도록 사진 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>가계부에 물건, 영수증, 혹은 당시의 감성 사진 등을 직접 촬영하여 기록할 수 있도록 카메라 접근 권한이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SB_OTF_B.otf</string>
		<string>SB_OTF_M.otf</string>
		<string>SB_OTF_L.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
